@page "/Multipleparameter"
<h3>multipleparameter</h3>
<input id="parameterWithSeperateValues" maxlength="@MaxLength" placeholder="@Placeholder" required="@Required" size="@Size" />
<input id="parameterWithDictionary" @attributes="InputAttributes" />
@code {

    [Parameter]
    public string MaxLength { get; set; } = "10";

    [Parameter]
    public string Placeholder { get; set; } = "first name";

    [Parameter]
    public string Required { get; set; } = "required";

    [Parameter]
    public string Size { get; set; } = "50";

    public Dictionary<string, object> InputAttributes { get; set; } = new Dictionary<string, object>
    {
        {"maxlength", "10"},
        {"placeholder", "firstName"},
        {"required", "required"},
        {"size", "50"},

    };

}
